.main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left-pane {
  display: flex;
  flex-direction: column;
}

.right-pane {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #e0e0d0;
}
